

.contain {
    background: linear-gradient(to bottom, #25bbc0 35%, #0b212c 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    height: 90vh;
    width: 90vw;
    border-radius: 50px;
    filter: url("#under-water-effect");
    position: relative;
}


.wave {
    margin: 60vh auto;
    position: absolute;
    left: -2%;
    right: 0;
    opacity: 0;
    top: 0;
    width: 2px;
    height: 1px;
    border: #FFF 7px solid;
    -moz-border-radius: 300px / 150px;
    -webkit-border-radius: 300px / 150px;
    border-radius: 300px / 150px;
    -moz-animation-name: ripple;
    -webkit-animation-name: ripple;
    animation-name: ripple;
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


.logo {
    background: url(./svg/fluentlogoandbrandmark.svg) no-repeat center;
    background-size: contain;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;
    animation: ease-in-out;
    -moz-animation-name: logo;
    -webkit-animation-name: logo;
    animation-name: logo;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


.wave:after {
    content: "";
    position: absolute;
    opacity: 0;
    top: -5px;
    left: -5px;
    width: 2px;
    height: 1px;
    border: #FFF 5px solid;
    -moz-border-radius: 300px / 150px;
    -webkit-border-radius: 300px / 150px;
    border-radius: 300px / 150px;
    -moz-animation-name: ripple-2;
    -webkit-animation-name: ripple-2;
    animation-name: ripple-2;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


@keyframes logo {
    0%, 100% {top: 15%;}
    50% {top: 12%;}
}


@keyframes ripple {
    from {
        opacity: 1;
    }
    to {
        width: 600px;
        height: 280px;
        border-width: 1px;
        top: -100px;
        opacity: 0;
    }
}


@keyframes ripple-2 {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        width: 200px;
        height: 100px;
        border-width: 1px;
        top: 100px;
        left: 200px;
    }
}
